<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>在给定范围内随机时间</title>
</head>
<script src="../static/js/jquery-1.10.2.js"></script>
<script src="../static/js/jquery.cookie.js"></script>
<script src="../static/js/base_utils.js"></script>
<body>
<table>
    <tr>
        <th>最早开始时间</th>
        <td>
            <input type="text" class="min_begin_time">
        </td>
    </tr>
    <tr>
        <th>最晚结束时间</th>
        <td>
            <input type="text" class="max_begin_time">
        </td>
    </tr>
    <tr>
        <th>答题最短时间</th>
        <td>
            <input type="text" class="min_last_time">
        </td>
    </tr>
    <tr>
        <th>答题最长时间</th>
        <td>
            <input type="text" class="max_last_time">
        </td>
    </tr>
    <tr>
        <th>生成个数</th>
        <td>
            <input type="text" class="gene_count">
        </td>
    </tr>
    <tr>
        <th></th>
        <td>
            <button type="button" class="submit">开始生成</button>
        </td>
    </tr>
</table>
</body>
<script>
    $(function () {
        $(".submit").on('click', function () {
            var data = {
                "max_begin_time": $(".max_begin_time").val(),
                "min_begin_time": $(".min_begin_time").val(),
                "min_last_time": $(".min_last_time").val(),
                "max_last_time": $(".max_last_time").val(),
                "gene_count": $(".gene_count").val(),

            };
            ajaxPost("/random/time", data, function (ret) {
                console.log(ret)
            })
        })
    })
</script>
</html>